* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#github {
	display: inline-block;
	margin: 1em 12rem;
	padding: 10px 35px;
	border: none;
	border-radius: 50px;
	text-decoration: none;
	background: #27282c;
	color: #fff;
}
.quiz-app-wrapper {
	margin: 3em 12rem 1em 12rem;
	box-shadow: hsl(0, 0%, 80%) 0 0 16px;
	background: #fff;
	border-radius: 6px;
}
.app-title {
	background: yellow;
	padding: 15px 0;
	font-size: 22px;
	font-weight: 800;
	text-align: center;
}
.timer {
	margin-top: 0.5em;
	text-align: center;
	font-weight: 700;
	font-size: 2rem;
}
.app-content {
	padding: 20px;
}
.question-text {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 20px;
}
.question-option {
	margin-left: 10px;
	font-size: 18px;
}
.available-quiz {
	margin: 10px 5px 0 40px;
}
.pagination-button {
	width: 40%;
	padding: 8px 0;
	display: inline-block;
	margin: 18px 0 0 0;
	font-size: 20px;
	color: #fff;
	border-radius: 5px;
	border: 1px solid blue;
	background: blue;
}
.float {
	float: right;
}
.quiz-submit {
	clear: both;
	width: 100%;
	font-size: 20px;
	padding: 8px 0;
	margin-top: 14px;
	border-radius: 8px;
	background: #6360f1;
	border: 1px solid blue;
	color: #fff;
}
.score {
	display: inline-block;
	margin: 20px 0 0 0;
	font-size: 30px;
}
.clear {
	clear: both;
}
@media (max-width: 820px) {
	.quiz-app-wrapper {
		margin: 3em 10%;
		margin-bottom: 1em;
	}
	#github {
		margin: 1em 10%;
	}
}
@media only screen and (max-width: 768px) {
	.quiz-app-wrapper {
		margin: 3em 1em 1em 1em;
	}
	#github {
		margin: 1em;
	}
}