{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{% block title %} {% endblock %}</title>
	<link rel= "stylesheet" href= "{% static 'css/style.css' %}"></link>
</head>
<body>

	<a id="github" href="https://github.com/codewitgabi">GitHub</a>
	
	{% block content %}
	
	
	{% endblock %}
	
	<footer>
		<p style= "text-align: center; font-size: 18px; font-weight: 300; margin-bottom: 2em;">&copy;2022 by codewitgabi</p>
	</footer>
	
</body>
</html>
