{% extends "quizapp/base.html" %}
{% load static %}
{% block title %} {{ quiz.name }} {% endblock %}

{% block content %}

  <div class="quiz-app-wrapper">
    <legend class="app-title">{{ quiz }} Quiz</legend>
    <div class="timer">
      <!-- Timer displayer. # DO NOT DELETE -->
      <span id="clock"></span>
    </div>
    <div class="app-content">
      {% for question in questions %}
      <p class="question-text">{{ current_page }}. {{ question }}</p>
      <form action="" id="form" method="POST">
        {% csrf_token %}
        <input
          type="hidden"
          name="question_id"
          value="{{ question.id }}"
          required />
        {% for answer in question.answer_set.all %}
        <input type="radio" name="option" value="{{ answer.id }}" />
        <span class="question-option">{{ answer }}</span><br />
        {% endfor %}
      </form>
      {% endfor %}
      
      {% if questions.has_previous %}
      <button
        class="pagination-button pagination-btn"
        id="prevBtn"
        data-url="{{ current_page }}"
        data-action="prev">
        Prev
      </button>
      {% endif %}
      
      {% if questions.has_next %}
      <button
        class="pagination-button pagination-btn float"
        id="nextBtn"
        data-url="{{ current_page }}"
        data-action="next">
        Next
      </button>
      {% endif %}
      
      {% if questions.number == questions.paginator.num_pages %}
      <button class="quiz-submit" type="submit" onclick="submitAnswers()">
        Submit
      </button>
      {% else %}
      <div class="clear"></div>
      {% endif %}
    </div>
    
    <div class="p-2">
        {% for page in paginator.page_range %}
            <a class="pag-link" href="{% url 'quiz_detail' quiz.id %}?page={{ forloop.counter }}">{{ forloop.counter }}</a>
        {% endfor %}
      </div>
  </div>

  <script>
    /**
     * Variables defined here.
     */

    var quiz_id = "{{ quiz.id }}";
    const time = "{{ quiz.duration }}";
    var num_of_questions = "{{ num_of_questions }}";
    var questions_list = {{ questions_list|safe }};
    const csrf_token = "{{ csrf_token }}";
    const sendAnswerURL = "{% url 'get_answers' %}";
  </script>

  <script src="{% static 'js/main.js' %}"></script>

{% endblock %}
